@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero {
    @include flex-center;
    min-height: 100vh;
    padding: 0 150px;
    background: $color-bg;
    /* Deep space gradient effect */
    background: radial-gradient(circle at 50% 10%, $color-bg-light 0%, $color-bg 70%);

    @include laptop {
        padding: 0 100px;
    }

    @include mobile {
        padding: 0 25px;
    }

    &__content {
        max-width: 1000px;
        width: 100%;
        align-self: center;
        margin-top: 50px; // account for navbar
    }

    &__greeting {
        display: block;
        font-family: $font-mono;
        color: $color-primary;
        font-size: 16px;
        margin-bottom: 20px;
        margin-left: 2px;
    }

    &__name {
        font-size: 80px;
        font-weight: 800;
        color: $color-text-primary;
        line-height: 1.1;
        margin-bottom: 10px;

        @include laptop {
            font-size: 70px;
        }

        @include mobile {
            font-size: 40px;
        }
    }

    &__subtitle {
        font-size: 70px;
        font-weight: 800;
        color: $color-text-secondary;
        line-height: 0.9;
        margin-bottom: 20px;

        @include laptop {
            font-size: 60px;
        }

        @include mobile {
            font-size: 35px;
        }
    }

    &__desc {
        max-width: 500px;
        color: $color-text-secondary;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 50px;

        @include mobile {
            font-size: 16px;
        }
    }

    &__cta {
        display: flex;
        gap: 20px;
        margin-top: 50px;

        @include mobile {
            justify-content: center;
        }
    }

    &__button {
        font-size: 16px !important;
        padding: 1.25rem 1.75rem !important;
    }
}